@import "../../vars.css";

.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 61px;
  z-index: 2;
  margin: 0 10%;
}

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-text);
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 25px;
  color: var(--color-text);
  text-decoration: none;
}

/* New style for the department text */
.systemText {
  font-size: 25px; /* Match the menu item font size */
  font-weight: 600; /* Match the font weight */
  color: var(--color-text); /* Match the color */
  margin-left: 10px; /* Space between logos and text */
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  margin-right: 10px; /* Adjust as needed */
}

.logoContainer p {
  margin: 0; /* Remove default margin */
}

.loginBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 16px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.systemText {
  /* Existing styles */
  font-size: 25px; /* Example size */
  font-weight: 600; /* Example weight */
  color: var(--color-text); /* Example color */
  margin-left: 10px; /* Space between logos and text */
}

/* Hide the system text on small screens */
@media screen and (max-width: 830px) { /* Adjust max-width as needed */
  .systemText {
    display: none; /* Hide the text */
  }
}
